h1 {
	color:#0052EA;
	font-family: 'Tangerine', serif;
	font-size: 60px;
	text-shadow: 5px 5px 5px grey;
}

h2 {
	color: brown;
	font-family: fantasy;
}

form {
	max-width: 400px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px
	
}

label, input, textarea, select {
	display:block;
	width:100%;	
}

input[type="submit"] {
	display:inline-block;
	width: 80px;
	height: 30px;
	background-color: #0052EA;
	box-shadow: 5px 5px 5px grey;
	font-family: fantasy;
}

input[type="text"], textarea, input[type='email'], input[type='password'], input[type='hidden'] {
	background-color: #abcecf;
	box-shadow: 5px 5px 5px grey;
}

button[type='submit'] {
	width: 80px;
	height: 30px;
	background-color: #0052EA;
	box-shadow: 5px 5px 5px grey;
	font-family: fantasy;
}

.input {
	background-color: #0052EA;
}

.errorlist {
	padding:0;
	margin:0;
}
.errorlist li{
	color:red;
	list-style:none;
}

.alert {
	padding:0.5rem;	
}

.alert-success {
	font-family: fantasy;
	color: green;
	text-shadow: 5px 5px 5px grey;
}
.alert-error{
	font-family: fantasy;
	color:red;
}

body {
	max-width: 100%;
	max-height: 100%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #a6b1e1;
}

header {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
}

main {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

footer {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.links {
	color: #007cf0;
	font-family: 'Tangerine', serif;
	font-size: 30px;
	text-shadow: 5px 5px 5px grey;
}

#about-link {
	margin-left: 50px;
	margin-right: 50px;
}

#newpost-link {
	margin-left: 50px;
}

#register-link {
	margin-left: 50px;
}

#delete-link {
	margin-left: 20px;
}

#login-link {
	margin-left: 50px;
}

#cencel-link {
	margin-left: 5px;
}

#greeting {
	margin-left: 2px;
	font-family: fantasy;
	color:green;
	
}

.content {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 0.5px solid black;
	font-family: 'Anton', sans-serif ;
	color: black;
	background-color: #aaa;
	
}

.forms {
	/* background-image: url('/static/images/shutterstock577495939.jpg'); */
	border: 1px solid black;
	background-color: #aaa;
	
}

.copy-right p {
	text-align: center;
	color: black;
}

p {
	font-family: fantasy;
	color: darkgreen;
}