{% extends 'base.html' %}

{% block content %}
    <h1>The page about the Note Book.</h1>
        <div class="content">
            <h2>A short description about usage</h2>
            <p>The note book was created for adding some interesting terms and short notices from the programming world.</p>
            <p>Almost everyone can makes simple registration, especially developers, and adds useful notes to share this with other people.</p>
            <p>Together we are stronger and smarter.</p>
            <p>So, help me please to fill this NoteBook to get experience from each other.</p>
            <p>I hope this projecs will be usefull for people. For recommendations and improvements,</p>
            <p>follow and contact me on social media:
            <ul>
                <li><a class="social-media" href="https://www.facebook.com/Nazar.Pichak.9">facebook</a></li>
                <li><a class="social-media" href="https://www.instagram.com/pump_kins96/">Instagram</a></li>
                <li><a class="social-media" href="https://cz.linkedin.com/in/nazar-pichak-923a15230/uk">LinkedIn</a></li>
            </ul>
        </div>
{% endblock %}